/* ---------- Fonts ---------- */

$font-title: "Akkurat Pro", serif;
$font-text: "Rotis Sans Serif Std", sans-serif;

$title-1: 48px;
$title-2: 38px;
$title-3: 24px;
$title-4: 21px;
$title-5: 19px;
$title-6: 18px;
$paragraph-1: 26px;
$paragraph-2: 22px;
$paragraph-3: 20px;
$link: 18px;
$button: 14px;


/* ---------- Colors ---------- */

$grey-dark: #1A1A1A;
$grey-light: #4D4D4D;
$white: #FFFFFF;
$blue: #0069A3;
$blue_dark: #004064;
$lila: #6C4D71;
$rosa: #99294B;
$green: #798E30;


/* ---------- Spacing and Sizes ---------- */

$container: 1420px;
$space-big: 96px;
$space-reg: 72px;
$space-sm: 52px;
$space-xs: 32px;
$space-xxs: 16px;


