@import 'variables';

.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 9px;
  padding-right: 9px;
}


.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin: 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.mb-lg {
  margin-bottom: $space-big;
}

.mb-md {
  margin-bottom: $space-reg;
}

.mb-sm {
  margin-bottom: $space-sm;
}

.mb-xs {
  margin-bottom: $space-xs;
}

.ml-md {
  margin-left: $space-reg;
}

.ml-lg {
  margin-left: $space-big;
}

.px-md {
  padding: 0 $space-reg;
}

.px-lg {
  padding: 0 $space-big;
}

.py-md {
  padding: $space-reg 0;
}

.py-lg {
  padding: $space-big 0;
}


.p-md-lg {
  padding: $space-reg $space-big;
}


.pl-md {
  padding-left: $space-reg;
}

.pl-lg {
  padding-left: $space-big;
}

.mb-1 {
  margin-bottom: 8px;
}

@media only screen and (max-width: 992px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100% !important;
  }


  .mb-lg {
    margin-bottom: $space-sm;
  }

  .mb-md {
    margin-bottom: $space-xs;
  }

  .mb-sm {
    margin-bottom: $space-xs;
  }

  .mb-xs {
    margin-bottom: $space-xxs;
  }

  .ml-md {
    margin-left: $space-xs;
  }

  .ml-lg {
    margin-left: $space-reg;
  }

  .px-md {
    padding: 0 $space-xs;
  }

  .px-lg {
    padding: 0 $space-reg;
  }

  .py-md {
    padding: $space-xs 0;
  }

  .py-lg {
    padding: $space-reg 0;
  }

  .px-0-mob {
    padding: 0;
  }
}
